@import url('https://fonts.googleapis.com/css2?family=Jura&family=Montserrat&display=swap');

/*GENERAL SETTINGS*/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #ffffff;
  min-height: 100vh;
}

article {
  margin-bottom: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Jura';
  font-weight: 500;
  text-align: center;
}

h1 {
  font-size: 3.25rem;
  line-height: 5rem;
}

h2 {
  font-weight: 900;
}

h3 {
  font-size: 2rem;
  line-height: 3.5rem;
}

p {
  margin: 2rem 0;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  padding: 0 0.5rem;
  text-align: center;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white
}

.btn {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  color: #1F221E;
  background-color: #54E9BC;
  border-radius: 40px 0px;
  padding: 1.125rem 3.375rem;
  border: none
}

.btn a {
  color: #1f1f1f
}

.btn:hover, input[type="button"]:hover {
  background-color: #ffffff;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.booking, .about, .main--start {
  background-image: url("../images/bg-space.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.active {
  font-weight: 900;
}

.align {
  display: flex;
  align-items: center;
}

/* --> HEADER <-- */
header {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:60%;
  align-items: flex-start;
}

.header {
  display: none;
  align-items: center;
  margin: 1rem 0.5rem;
}

.header__nav {
  display: flex;
  max-width: 30%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-family: 'Jura';
  font-size: 1rem;
}

.header__nav img {
  margin: 0 0.5rem
}

.header a:hover, .footer__nav a:hover {
  color:#54E9BC;
  transition: color 0.25s ease-in-out;
}

.header--start {
  background-image: url("../images/09-night.jpg");
  min-height: 120vh;
}

.header__logo {
  width: 10.625rem;
}

/*HEADER - MOBILE */
.header--small {
  height: 6.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3% 0;
  background-color: #54E9BC;
  color: #1f1f1f;
}

.header__nav--small {
  display: flex;
  flex-direction: column;
  transition: all 0.25s ease-in;
}

.header--small img, .header--small i {
  width: 4.375rem;
  padding: 1rem;
  font-size: 2rem;
}

.header__nav--small a {
  display: none;
  font-family: 'Jura';
  padding: 2rem 1rem;
  color: #1f1f1f;
  font-size: 1.25rem;
  font-weight: 700;
}

.header__nav--small:hover {
  overflow: visible;
  transform: translateY(21.875rem);
  background-color: #54E9BC;
  margin: 0;
  width: 15.625rem;
}

.header__nav--small:hover a {
  display: flex;
}

/* --> HERO <-- */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 2rem;
}

.main--about .hero {
  background-color: #1F221E;
  min-height: unset;
}

.hero--start {
  animation: blur 2s linear 3s forwards;
}

.hero--start .hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  animation: move-in 2s linear 4s 1 forwards;
  padding-bottom: 5rem;
}
 
.hero--start img {
  max-width: 30%;
  transform: scale(2.5) translateY(50%);
  margin: auto;
  animation: zoom-out 2s linear 3s 1 forwards;
}

.hero__btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__btns .btn {
  margin-top: 2rem;
}

/* --> CARDS <-- */
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.25rem;
} 

.card {
  background-color: #1f1f1f;
  width: 23.75rem;
  height: 37.5rem;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.card img {
  margin-top: -5.813rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
}

.cards--start {
  display: none;
}

 /*CARDS - ROOM*/
.rooms .card--room {
  width: 100%;
  height: unset;
  text-align: start;
  display: flex;
  flex-direction: column;  
  align-items: center; 
  padding: 1%;
}

.card--room .card__img--large {
  width: unset;
  height: unset;
  border-radius: 40px 0 0 40px;
  margin-top: 0;
}

.card--room .card__images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card--room .card__images img {
  max-width: 9.375rem;
  height: unset;
  border-radius: 0;
  margin: 0.5rem
}

.card--room .card__images img:first-child{
  border-radius: 40px 0 0 40px;
}

.card--room .card__images img:last-child{
  border-radius: 0 40px 40px 0;
}

.card--room .card__text--large {
  font-family: 'Jura';
  font-size: 2.25rem;
  line-height: 2.688rem;
  text-align: center;
}

/* --> BOOKING FORM <-- */
.main--booking__img, .booking-form .heading {
  display: none;
}

.booking-form__text {
  max-width: 18.75rem;
  margin: 2rem auto
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form .input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} 

form label {
  display: none;
  margin-left: 0.625rem;
  margin-bottom: -1.25rem;
  background-color: #ffffff;
  color: #1f1f1f;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  border: none;
  width: 25rem;
  text-align: start;
  padding: 0.5rem 1rem 0rem 1rem
}

form input {
  width: 19.5rem;
  border-radius: 20px 0px;
  margin: 1.25rem auto;
  padding: 1rem;
  font-family: 'Jura';
  font-size: 1.5rem;
  border: none;
  outline: none;
}

form input[type="button"] {
  background-color: #54E9BC;
}

/* --> FOOTER <-- */
footer {
  display: none;
  background-color: #1f1f1f;
  grid-template-rows: 6.25rem;
}

.footer__icons, .footer__nav, .footer__buttons {
  display: flex;
  flex-direction: column;
  font-family: 'Jura';
  justify-content: center;
}

.footer__icons {
  grid-column: 1/2;
  font-size: larger;
  align-items: center;
  justify-content: center
}

.footer__nav {
  grid-column: 3/8;
  flex-wrap: wrap;
  font-size: 1rem;
}

.footer__icons i, .footer__nav a, footer img {
  margin: 0.25rem;
}

.footer__buttons {
  grid-column: 8/11;
  align-items: center;
}

.footer__buttons button {
  font-size: 1rem;
  padding: 0.5rem 2rem;
}

footer img {
  width: 5.25rem;
}

/*FOOTER - MOBILE*/
.footer--small {
  background-color: #1f1f1f;
  color:#54E9BC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.875rem;
  padding: 2rem 3rem;
  margin-bottom: 0;
}

.footer--small img {
  transform: rotateY(180deg);
}

/* ..... MEDIA QUARIES ..... */
@media screen and (min-width: 700px) {
  /*HIDDEN*/
  .header--small, .booking-form__text, 
  .footer--small, .hero__btns .btn, 
  .hero--start img, .cards--booking {
    display: none;
  }
  
  /*GENERAL SETTINGS*/
  header, main, footer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1.25rem
  }

  .hero,  .cards, .facilities, .rooms {
    grid-column: 2 / span 8;
  }

  h1 {
    font-size: 6rem;
    line-height: 7.125rem;
  }
  
  /* --> HEADER <-- */
  .header {
    grid-column: span 10;
    display: flex;
    justify-content: space-around;
  }
  
  .header--about {
    min-height: 37.5rem;
    background-image: url(../images/bg-about.jpg);
  }
  
  .header--booking {
    min-height: 25rem;
    background-image: 
      linear-gradient(180.28deg, #24242E 11.76%, rgba(36, 36, 46, 0) 89.34%), 
      url(../images/bg-book.jpg);
  }

  /* --> HERO <-- */
  .hero--start, .hero--start .hero__content, .hero--start img {
    animation: none;
  }

  .hero--start .hero__content {
    opacity: 1;
    max-width: 800px;
    margin: auto;
  }

  .hero__btns .btn:first-child {
    display: block;
  }
 
  /* --> BOOKING FORM <-- */
  .booking-form {
    grid-column: 2 / span 5;
    grid-row: 1;
    margin: 3rem 0;
    display: flex;
  }

  .booking-form__content {
    align-items: flex-start;
  }

  .booking-form .heading {
    display: block;
    text-align: left;
  }

  form {
    justify-content: flex-start;
  }

  form label {
    display: block;
  }

  form input:not([type="button"]) {
    font-size: 1.625rem;
    line-height: 1.938rem;
    width: 25rem;
    margin: 1.25rem 0.625rem;
    border-radius: 0;
    padding: 0.5rem 1rem 0rem 1rem
  }

  form .input--small {
    max-width: 6.25rem;
  }
  
  form a {
    width: 50%;
    margin: auto;
  }

  /* --> CARDS <-- */
  .cards--start {
    display: flex;
  }

  /*CARDS - ROOM*/
  .rooms .card--room {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20% 40% 20% 20%;
  }
  
  .card--room .card__img--large {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    transform: translateX(-10%);
  }

  .card--room .card__images {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    flex-direction: row;
    transform: translateX(-10%);
  }

  .card--room .card__heading {
    grid-column: 3 / span 2;
    grid-row: 1;
    text-align: start;
  }
  
  .card--room .card__text {
    grid-column: span 2;
    text-align: start;
  }
  
  .card--room .card__text--small {
    grid-column: 3 / span 1;
    grid-row: 3 / span 2;
    text-align: start;
  }
  
  .card--room .card__text--large {
    grid-column: 4 / span 1;
    grid-row: 3;
  }
  
  .card--room .btn {
    grid-column: 4 / span 1;
    grid-row: 4;
    padding: 0.5rem 2rem;
  }

  /*SPECIALS*/
  .main--about {
    transform: translateY(-7.5%);
  }
}

@media screen and (min-width: 1000px) {
  /* --> HEADER <-- */
  .header {
    grid-column: 2 / span 8;
  }

  .header__nav {
    font-size: 1.25rem;
  }

  /* --> HERO <-- */
  .main--about .hero {
    padding: 1rem 12.5rem 3rem 12.5rem
  }

  /* --> BOOKING FORM <-- */
  .booking-form {
    max-width: 599px;
  }

  form label, form input:not([type="button"]) {
    font-size: 1.125rem;
    width: 13.75rem;
  }

  /* --> CARDS <-- */
  /*CARDS - ROOM*/
  .card--room .card__text--small {
    line-height: 1.5rem;
  }

  /* --> FOOTER <-- */
  footer {
    grid-template-rows: 12.5rem;
  }

  .footer__icons {
    grid-column: 2;
  }

  .footer__icons i {
    margin: 0.5rem;
    font-size: 2rem;
  }

  .footer__nav {
    grid-column: 3 / 7;
    font-size: 1.25rem;
  }

  .footer__nav a {
    margin: 1rem;
  }
  
  .footer__buttons button {
    font-size: 1.5rem;
  }

  .footer__buttons {
    grid-column: 8 / 10;
  }

  /*SPECIALS*/
  .main--booking {
    max-width: 1300px;
    margin:auto;
  }

  .main--booking__img {
    display: block;
    width: 20rem;
    height: 20rem;
    grid-column: 7 / span 4;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
    transform: translateY(-50%);
  }
}

/* ..... KEYFRAMES ..... */
@keyframes zoom-out {
  0% {
    transform: scale(2.5) translateY(50%)
  }
  100% {
    transform: scale(0.5) translateY(0)
  }
}

@keyframes move-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blur {
  0% {
    backdrop-filter: none
  }
  100% {
    backdrop-filter: blur(5px);
  }
}